/* Color Palette taken from https://colorpalettes.net/color-palette-4134/ */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #6e4d35;
}
body{
    font-family: 'Comic Sans MS', 'Segoe UI', sans-serif;
}
/* font sizes and spacing */
h1{ 
    font-size: 2em;
    line-height: 2;
    Color: #595d3d;
    font-family: 'Segoe UI', sans-serif;
}
h2{
    font-size: 1.5em;
    line-height: 1.7;
    Color: #595d3d;
    font-family: 'Segoe UI', sans-serif;
}
h3{
    font-size: 1.17em;
    line-height: 1.5;
    Color: #595d3d;
    font-family: 'Segoe UI', sans-serif;
}
p{
    font-size: 1em;
    line-height: 1.3;
    Color: #6e4d35;
}
footer{
    font-size: 0.75em;
    line-height: 1.1;
    Color: #6e4d35;
}
/* standard styling */
a{
    text-decoration: none;
    color: #595d3d;
}
.inline-link{
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
/* navbar */
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    z-index: 5;
    background-color: #b4b5a7;
    margin-bottom: 1em;
}
#nav_label{
    flex: 1;
    text-align: center;
}
#nav_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
#nav_links li a, footer a{
    background-color: #eeceb8;
    padding: 1em;
    border-radius: 1em;
}
#nav_links li a:hover, footer a:hover{
    background-color: #f0f1f6;
    color: #595d3d;
}
article{
    padding: 1em;
    background-color: #f0f1f6;
    border-radius: 2em;
}
/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    padding: 1em;
    background-color: #b4b5a7;
}
#footer_label{
    flex: 1;
    text-align: center;
}
#contact_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
/* index */
#self_portrait{
    grid-area: s;
    justify-self: center;
}
#introduction_text{
    grid-area: i;
    margin: auto;
}
#technologies_text{
    grid-area: t;
    margin: auto;
}
#technologies_text > ul{
    text-align: center;
}
#education_text{
    grid-area: e;
    margin: auto;
}
#about_me{
  display: grid;
  margin: 0 2em;
  grid-template-rows: repeat(2, 1fr);      
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  grid-template-areas: 
  'i s'
  'e t';
}
/* projects */
.project{
    display: grid;
    margin: 0 1em;
    grid-template-rows: repeat(1, 1fr);      
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
.project img{
    grid-area: ii;
    max-height: 100%;
}
.project_text{
    grid-area: it;
    margin: auto;
}
.project{
    grid-template-areas: 
    "ii it";
}
#steel_hostilities{
    grid-area: sh;
}
#rng_hell_series{
    grid-area: rng;
}
#rng_hell_screenshots{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#projects{
    display: grid;
    margin: 0 2em;
    grid-template-rows: repeat(2, 1fr);      
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5em;
    grid-template-areas: 
    "rng"
    "sh";
}
textarea{
    width: 100%;
    max-width: 100%;
    max-height: 5em;
}
input, select{
    max-width: 40em;
    padding: 0.5em;
    border-radius: 1em;
}
/* images */
img{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Media Queries */
@media(max-width: 590px){
    #about_me, .project{
        display: grid;
        margin: 0;
        grid-template-rows: 1fr 2fr;      
        grid-template-columns: repeat(1, 1fr);
    }
    .project{
        grid-template-areas: 
        "ii"
        "it";
    }
    #about_me{
        grid-template-areas: 
        "ai"
        "at";
    }
    #multi_platform{
        margin-top: 5em;
    }
    #about_me img{
        margin-bottom: -7em;
    }
    #standard_footer{
        margin-top: -5em;
    }
    #nav_links{
        flex-wrap: wrap;
    }
    #nav_links li{
        display: inline-block;
        margin: 1em;
    }
    footer{
        flex-wrap: wrap;
    }
}
@media(min-width: 590px) and (max-width: 1070px){
    img{
        display: flex;
        align-self: center;
    }
}